/**
 * Common View Elements
 */
 
/* --- Views Field --- */
.views-field {
}

.field-content {
}

/* Views Field Title */
.views-field-title {
}

.views-field-title .field-content {
  display: block;
  font-weight: bold;
  padding: 5px 0 0;
}

/* Views Field Image */
.views-field-field-image {
}

.views-field-field-image .field-content {  
}

/* Views Field Body */
.views-field-body {
}

.views-field-body .field-content {
}

/* Views Field Changed */
.views-field-changed {
}

.views-field-changed .field-content {
}

/* --- Views Inline Grid --- */
.views-row {
}

.views-row-odd {
}

.views-row-even {
}

.views-col {
}

.cols-1 .views-col {
  width: 100%;
}

.cols-2 .views-col {
  width: 50%;
}

.cols-3 .views-col {
  width: 33.33%;
}

.cols-4 .views-col {
  width: 25%;
}

.cols-5 .views-col {
  width: 20%;
}

.cols-6 .views-col {
  width: 16.66%;
}

/**
 * Supported Views Formats
 */
/* --- Slideshow --- */
#slideshow-wrapper .container {
}

#slideshow-wrapper .block-content {
  padding: 0;
}

#slideshow-wrapper .region-slideshow {
  padding-top: 15px;
}

#slideshow-wrapper .views_slideshow_main {
  background: #568fc4;
  height: 245px;
}

#slideshow-wrapper .views-row {
  width: 100%;
}

/* Titles */
#slideshow-wrapper .views-field-title { 
  color: #FFF;
  font-family: TrebuchetMSRegular;
  font-size: 1.846em;
  font-weight: bold;
}

#slideshow-wrapper .views-field-title .field-content {
  display: block;
  padding: .25em 20px;
}

#slideshow-wrapper .views-field-title a {
  color: #FFF;
}

#slideshow-wrapper .views-field-title a:hover,
#slideshow-wrapper .views-field-title a:active,
#slideshow-wrapper .views-field-title a:focus {
  color: #FFF;
  text-decoration: none;
}

#slideshow-wrapper .views-field-body {  
  color: #fff;
  float: left;
  padding: 10px 20px 0;
  width: 40%;
}

#slideshow-wrapper .views-field-field-slideshow { 
  float: right;
  margin-top: -92px;  
}

@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {
#slideshow-wrapper .views-field-field-slideshow { 
  margin-top: -93px;  
}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#slideshow-wrapper .views-field-field-slideshow {   
  margin-top: -91px;  
}
} /* hacked cho chrome và safari */

#slideshow-wrapper .views-field-changed {
  color: #FFF;
  font-size: 1.692em;
  font-weight: normal;  
  padding: .25em 20px;  
  text-transform: uppercase;  
}

/* Slideshow Navigator */
#slideshow-wrapper .views-slideshow-controls-top {
  top: 15px;
  font-size: .92em;
  height: auto;
  left: 295px;
  position: absolute;
  text-align: center;
  width: auto;
  z-index: 20; /* if you have more than 18 images in slideshow, increase this value */
}

#slideshow-wrapper .views-slideshow-pager-field-item {
  float: left; 
  margin-right: 5px;
}

#slideshow-wrapper .views-content-nid {
  background: url(../images/ico-paging.png) 0 0 no-repeat;
  cursor: pointer;
  overflow: hidden;
  text-indent: -999em;
  width: 15px; 
}

#slideshow-wrapper .views-slideshow-pager-field-item.active .views-content-nid {
  background-position: 0 -21px;
}

#slideshow-wrapper .region-slideshow:hover .views-slideshow-controls-top {
  display: block;
}

#slideshow-wrapper .views-slideshow-controls-top {  
}

#slideshow-wrapper .views_slideshow_controls_text {
  background: #333;
  color: #CCC;
  float: left;
}

#slideshow-wrapper .views_slideshow_controls_text span {
  cursor: pointer;
  display: inline-block;
  padding: .25em 1em;
}

#slideshow-wrapper .views_slideshow_controls_text span:hover {
  background: #666;
  color: #FFF;
}

#slideshow-wrapper .views_slideshow_slide_counter {
  background: #C00;
  color: #FFF;
  float: left;
  padding: .25em 1em;
  margin-left: 1px;
}

/* Slideshow Full Pager */
#slideshow-wrapper .view > .pager {
  bottom: 0;
  height: auto;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 20; /* if you have more than 18 images in slideshow, increase this value */
}

/* Slideshow Mini Pager */
#slideshow-wrapper .views-mini-pager {
  bottom: 0;
  height: auto;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 20; /* if you have more than 18 images in slideshow, increase this value */
}

/* Slideshow Footer */
#block-views-slideshow-footer-block--2 {
  background: url(../images/bg-bbroad.png) no-repeat left top;
  bottom: 0;
  height: 140px;
  left: 40%;
  position: absolute;
  width: 177px;
}

#block-views-slideshow-footer-block--2 .block-inner {
  padding: 20px 10px;
}
/***********************************************************
 * Slideshow
 ***********************************************************/
 .slideshow{
    /*background: rgba(255,255,255, 0.7);*/
    box-shadow: 0 0 5px rgba(0,0,0, 1);
    /*margin-left: -10px;
    margin-top: -20px;*/
 }
 .slideshow-image{
        position:relative;
 }
 .slideshow-text{
        color:#fff;
        padding-left:20px;
        position:absolute;
        top:50px;        
        width: 300px;
        
 }
 .slideshow-title{
        color:#fff;
        font-size:20px;
        font-weight:bold;
        padding-left:20px;
        position:absolute;
        text-shadow:1px 1px #000;
        top:10px;
 }
 .slideshow-title a{
    color: #FFF;
 }
 .slideshow-url{
    bottom: -45px;
    float: none;
    /*height: 60px;*/
    margin: auto;
    padding: 0 20px 0 20px;
    position: absolute;
    width: auto;
 }
.slideshow-url .button:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    border-radius: 2px 2px 2px 2px;
    content: "";
    display: block;
    height: 18px;
    margin: -3px 0 0 -4px;
    padding-right: 20px;
    width: 100%;
}
.slideshow-url .button {
    background-image: -moz-linear-gradient(center top , #0692C7, #014897);
    background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#0692C7),color-stop(100%,#014897));
    border-radius: 3px 3px 3px 3px;
    bottom: 60px;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    padding: 7px 20px 3px 8px !important;
    position: relative;
    width: auto;
}
 .slideshow-url .button a:before {
    border-bottom: 8px solid transparent;
    border-left: 12px solid white;
    border-top: 8px solid transparent;
    content: "";
    display: block;
    height: 0;
    left: 5px;
    position: absolute;
    top: 9px;
    width: 0;
}
.slideshow-url .button a {
    text-shadow: none;
}
.slideshow-url .button a {
    border: medium none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: Ubuntu,sans-serif;
    font-size: 1.21429em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.41176em;
    margin-top: -19px;
    padding: 5px 0 2px 25px;
    position: relative;
    text-shadow: 1px 1px 1px black;
}
.slideshow-url .button:hover a:before{
  content:"";
  display:block;
  position:absolute;
  border-top:8px solid transparent;
  border-left:12px solid #713f1d;
  border-bottom:8px solid transparent;
  width:0px;
  height:0px;
  left:5px;
  top:9px;}
  .button:hover a:hover{text-decoration:none;
  }
.slideshow-url  .button:hover a{
    position:relative;
    text-shadow:1px 1px 1px white;
    margin-top:-19px;
    display:block;
    border:none;
    color:#713f1d;
    cursor:pointer;
    font-family:Ubuntu,sans-serif;
    letter-spacing:-1px;
    font-weight:bold;
    font-size:1.21429em;
    line-height:1.41176em;
    padding:5px 0px 2px 25px;
  }
.slideshow-url  .button a:hover{
    text-decoration:none;}
  .button a{text-shadow:none;}
  .button:hover{
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#f2c825),color-stop(100%,#efbc1f));
    background-image:-webkit-linear-gradient(top,#f2c825,#efbc1f);
    background-image:-moz-linear-gradient(top,#f2c825,#efbc1f);
    background-image:-o-linear-gradient(top,#f2c825,#efbc1f);
    background-image:-ms-linear-gradient(top,#f2c825,#efbc1f);
    background-image:linear-gradient(top,#f2c825,#efbc1f);
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    position:relative;
    cursor:pointer;padding:7px 20px 3px 8px !important;
    display:inline-block;
    width:auto;height:28px;
  }
  .button:hover:before{
    background:rgba(255,255,255,0.2);
    height:18px;width:100%;content:"";
    display:block;
    margin:-3px 0 0 -4px;
    padding-right:20px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
  }